.container{
	width : 50%;
}

input{
	margin-bottom:10px;
}

img{
	margin-bottom:10px;
}

.smallp{
	font-size: 12px;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon input  { padding-left:  30px; }

button{
	margin-top:20px;
	margin-bottom: 20px;
}